services:
  synapse:
    image: docker.io/matrixdotorg/synapse:latest
    restart: unless-stopped
    environment:
      - SYNAPSE_CONFIG_PATH=/data/homeserver.yml
    volumes:
      - ./files:/data 
    depends_on:
      - db
    networks:
      default: 
        ipv4_address: 10.10.10.4

  db:
    image: docker.io/postgres:12-alpine
    environment:
      - POSTGRES_USER=synapse 
      - POSTGRES_PASSWORD=${SYNAPSE_DB_PASSWORD} 
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - ./schemas:/var/lib/postgresql/data 
    networks:
      default:
        ipv4_address: 10.10.10.2

  element:
    image: vectorim/element-web:latest 
    restart: unless-stopped 
    volumes:
      - ./element-config.json:/app/config.json 
    networks:
      default:
        ipv4_address: 10.10.10.3

networks:
  default:
      name: matrix_net
      external: true
