services:
  nextcloud-aio-mastercontainer:
    image: ghcr.io/nextcloud-releases/all-in-one:latest 
    init: true # This setting makes sure that signals from main process inside the container are correctly forwarded to children. See https://docs.docker.com/reference/compose-file/services/#init
    restart: always 
    container_name: nextcloud-aio-mastercontainer 
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config 
      - /var/run/docker.sock:/var/run/docker.sock:ro 
    networks: 
      - 27hs-green 
    ports:    
      - ${PORTS_NEXTCLOUD}:8080 # https
    environment: 
      NEXTCLOUD_DATADIR: nextcloud_aio_nextcloud_datadir

volumes: # If you want to store the data on a different drive, see https://github.com/nextcloud/all-in-one#how-to-store-the-filesinstallation-on-a-separate-drive
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer # This line is not allowed to be changed as otherwise the built-in backup solution will not work
  nextcloud_aio_nextcloud_datadir: 
    name: nextcloud_aio_nextcloud_datadir

networks:
  27hs-green:
    name: 27hs-green
    external: true