services:
  rocketchat:
    image: rocket.chat:latest
    container_name: ${STACK_NAME}-rocketchat
    hostname: rocketchat
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://mongodb:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://mongodb:27017/local
      - ROOT_URL=https://chat.27hs.co.uk
      - PORT=3000
      - DEPLOY_METHOD=docker
    depends_on:
      - mongodb
    ports:
      - "${PORTS_ROCKETCHAT}:3000"
    volumes:
      - rocketchat-uploads:/app/uploads
    networks:
      - default
      - green
      #labels:
      #  - "traefik.enable=true"
      #  - "traefik.http.routers.rocketchat.rule=Host(`your-domain.com`)"
      #  - "traefik.http.routers.rocketchat.tls=true"
      #  - "traefik.http.routers.rocketchat.tls.certresolver=letsencrypt"

  mongodb:
    image: mongo:8.2.5-noble
    container_name: ${STACK_NAME}-rocketchat-mongodb
    hostname: mongodb
    restart: unless-stopped
    command: mongod --smallfiles --oplogSize 128 --replSet rs0
    volumes:
      - mongodb-data:/data/db
    networks:
      - green

  mongodb-init-replica:
    image: mongo:8.2.5-noble 
    command: 'mongo mongo/rocketchat --eval "rs.initiate({ _id: ''rs0'', members: [ { _id: 0, host: ''localhost:27017'' } ]})"'
    depends_on: 
      - mongodb

networks:
  green:
    external: true
    name: ${STACK_NAME}-green

volumes:
  mongodb-data:
  rocketchat-uploads:

