services:
  rocketchat:
    image: rocket.chat:latest
    container_name: ${STACK_NAME}-rocketchat
    hostname: rocketchat
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://mongodb:27017/rocketchat?replicaSet=rs0&ssl=false
      - MONGO_OPLOG_URL=mongodb://mongodb:27017/local?replicaSet=rs0&ssl=false
      - ROOT_URL=https://chat.27hs.co.uk
      - PORT=3000
      - DEPLOY_METHOD=docker
      - OVERWRITE_SETTING_Show_Setup_Wizard=completed
    depends_on:
      - mongodb
    ports:
      - "${PORTS_ROCKETCHAT}:3000"
    volumes:
      - rocketchat-uploads:/app/uploads
      - rocketchat-scripts:/app/scripts
    networks:
      - default
      - green
      #labels:
      #  - "traefik.enable=true"
      #  - "traefik.http.routers.rocketchat.rule=Host(`your-domain.com`)"
      #  - "traefik.http.routers.rocketchat.tls=true"
      #  - "traefik.http.routers.rocketchat.tls.certresolver=letsencrypt"

  mongodb:
    image: mongo:8.2.5-noble
    container_name: ${STACK_NAME}-rocketchat-mongodb
    hostname: mongodb
    restart: unless-stopped
    environment:
      - MONGO_INITDB_DATABASE=rocketchat
      - MONGO_REPLICA_SET_NAME=rs0
    command: mongod --replSet rs0 --oplogSize 128 --storageEngine wiredTiger
    volumes:
      - mongodb-data:/data/db
      - mongodb-dump:/dump
    ports:
      - "27017:27017"
    networks:
      - green

networks:
  green:
    external: true
    name: ${STACK_NAME}-green

volumes:
  mongodb-data:
  mongodb-dump:
  rocketchat-scripts:
  rocketchat-uploads:

